.map-container {
    position: relative;
    height: 400px;
    width: 100%;
  }
  
  .styled-button {
    position: absolute;
    bottom:  380px;
    left: 10px;
    z-index: 1000; 
    display: inline-block;
    text-align: center;
    line-height: 1.2; 
    padding: 10px 20px;
    font-weight: bold;
    font-size: 13px;
    cursor: pointer;
    border: 1px solid #ccc;
    background-color: #f0f0f0;
    border-radius: 5px;
  }
  
  .styled-button:hover {
    background-color: #FF0000; /* Màu nền khi rê chuột */
  }